<a href="https://colab.research.google.com/github/fernandaleonn/PythonCourse/blob/main/ternaspitagoricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Terna pitagórica**

Una terna pitagórica es un grupo de tres números naturales a, b y c que verifican: a^2=b^2+c^2. Es decir, tres números naturales que pueden ser las medidas de los lados de un triángulo rectángulo y que, por tanto, verifican el Teorema de Pitágoras. De ahí su nombre.

**Problema:**  Clasificar todas las ternas pitagóricas (x,y,z) tales que **x**,y,z≤1000

El siguiente programa nos muestra las ternas pitagoricas para valores de x,y,z menores a 50

In [ ]:
ternas=[(a,b,c)
for a in range(1,50)
  for b in range(a,50)
    for c in range(b,50)
      if a**2+b**2==c**2]
terna1=[(a,b,c) for (a,b,c) in ternas if a<b<c]
terna1

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]